* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container-header {
    margin: 5px;
    background-image: url(../img/design1_image1.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: scale-down;
}


nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: scale-down;
}

h1 {
    display: flex;
    object-fit: scale-down;
    font-weight: bold;
    color: #5fa199;
    -webkit-text-stroke: 1px #3f051b;
    font-style: oblique;
}

h2 {
    max-width: 100%;
    color: black;
    background-color: #f8e12e;
    text-align: center;
    margin: auto;
}

a {
    color: black;
    border: solid black;
    background-color: white;
    transition: background-color .7s;
    margin: 2px;
    padding: 2px;
    text-decoration: none;
}

a[href="#"] {
    background-color: #5fa199;

}

a[href="contact.html"] {
    background-color: #5fa199;
}

a[href="about.html"] {
    background-color: #5fa199;
}

a:hover {
    background-color: #f8e12e;
}

#calendario {
    display: inline;
    justify-content: space-around;
    text-align: center;
}

#calendario>p {
    padding: 10px;
}

.contact {
    display: inline;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

.container-main {
    padding: 5px;
    text-align: center;
}

h3 {
    color: #5fa199;
    -webkit-text-stroke: .5px #3f051b;
}

h4 {
    color: #5fa199;
    -webkit-text-stroke: .5px #3f051b;
}

main {
    margin-left: auto;
    margin-right: auto;

}

.img {
    display: flex;
    justify-content: center;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5fa199;
    padding: 2px;
    border: solid black;

}

tr {
    background-color: aqua;
    border: 2px;
    border: solid black;

}

th {
    background-color: #f8e12e;
    border: 1px;
    border: solid black;
    margin: 10px;
    padding: 2px;
}

td {
    background-color: white;
    border: 1px;
    border: solid black;
    margin: 10px;
    padding: 5px;
}

.facility {
    display: flex;
    justify-content: center;

}

footer>p {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: scale-down;
    padding: 10px;
}

.maps {
    margin: 2px;
    display: flex;
    display: inline;

}

fieldset {
    margin: 10px;
    padding: 3px;
}

#permission {
    margin: 10px;
}

/* media queries */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    header {
        flex-direction: column;
        justify-content: center;

    }

    #logo {
        width: 50px;
    }

    h1 {
        font-size: x-large;
    }

    nav {
        justify-content: space-around;
        font-size: xx-small;
        margin: 3px;
        padding: 2px;
    }

    main {

        font-size: small;
    }

    .img {
        transform: translate(150%);
        height: 120px;
        width: 80px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        flex-direction: column;
        justify-content: center;

    }

    #logo {
        width: 50px;
    }

    h1 {
        font-size: x-large;
    }

    nav {
        justify-content: space-around;
        font-size: xx-small;
        margin: 3px;
        padding: 2px;
    }

    main {

        font-size: small;
    }

    .img {
        transform: translate(200%);
        text-align: center;
        height: 200px;
        width: 150px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1439px){

    #logo {
        width: 70px;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 2559px){
    #logo {
        width: 100px;
    }

    h1 {
        font-size: 3em;
    }

    nav {
        font-size: 1em;
    }
    main {
        font-size: 2em;
    }
}
