* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-header {
    margin: 5px;
    background-image: url(../img/design1_image1.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: scale-down;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: scale-down;
}

h1 {
    display: flex;
    object-fit: scale-down;
    font-weight: bold;
    color: #5fa199;
    -webkit-text-stroke: 1px black;
    font-style: oblique;
}

h2 {
    max-width: 100%;
    color: black;
    background-color: #f8e12e;
    text-align: center;
    margin: auto;
}

a {
    color: black;
    border: solid black;
    background-color: white;
    transition: background-color .7s;
    margin: 2px;
    padding: 2px;
    text-decoration: none;
}

a[href="#"] {
    background-color: #5fa199;

}

a[href="contact.html"] {
    background-color: #5fa199;
}

a[href="about.html"] {
    background-color: #5fa199;
}



a:hover {
    background-color: #f8e12e;
}

.container-main {
    height: 75vh;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    object-fit: scale-down;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #5fa199;
    padding: 2px;
    border: solid black;

}

tr {
    background-color: aqua;
    border: 2px;
    border: solid black;

}

th {
    background-color: #f8e12e;
    border: 1px;
    border: solid black;
    margin: 10px;
}

td {
    background-color: white;
    border: 1px;
    border: solid black;
    margin: 10px;
}


aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    font-size: larger;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}